@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";
@import "./styles/mixins.scss";

.container {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-sort {
    @include col-ready();  
    .sortmenu-wrapper {
      width: 200px;
    }
}
